<div class="box-container" #imageContainer>
  <div class="box-sizer"></div>
  <div class="box-gutter"></div>

  <div class="box" [attr.data-idx]="i" *ngFor="let image of images; index as i" #ele>
    <img class="box__image" [src]="image.regular" (click)="showImage(ele)">
    <div class="box__author">
      <div class="box__author--image">
        <img [src]="image.profile_image" alt="">
      </div>
      <div class="box__author--details">
        <div class="box__author--name">
          {{ image.name }}
        </div>
        <div class="box__author--username">
          <a [href]="image.link">@{{ image.username }}</a>
        </div>
      </div>
    </div>
    <div class="box__likes">
      <i class="icofont-heart-alt box__likes--icon"></i>
    </div>
  </div>
</div>

