.image-table {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 2rem;
  margin: 4rem 1rem;


  &-section {
    grid-column: center-start / center-end;
  }

  &__heading {
    display: flex;
    justify-content: center;
    margin: 3rem 0;
  }

  &__head-row, &__body-row {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 2fr) 1fr;
    grid-gap: 2rem;
    justify-items: left;
    align-items: center;
  }

  &__head {

    &-row {
      font-weight: 700;
    }

    &--cell {

      &:first-child {
        justify-self: center;
      }

      &-icon {
        justify-self: center;
      }
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__body {

    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;

    &-row {

      @include respond(phone) {
        grid-template-columns: repeat(2, 2fr);
        grid-template-rows: repeat(4, 1fr);
        grid-gap: .5rem;
      }

      @include respond(medium-phone) {
        grid-template-columns: minmax(0, 1fr);
        grid-template-rows: minmax(0, 5fr) repeat(4, 1fr);
      }
    }

    &--cell {

      text-transform: capitalize;

      &-img {
        position: relative;
        width: 100%;

        @include respond(phone) {
          grid-column: 1 / 2;
          grid-row: 1 / -1;
          place-self: stretch;
        }

        @include respond(medium-phone) {
          grid-column: 1 / -1;
          grid-row: 1 / 2;
          place-self: center;
        }

        & img {
          height: 6.4rem;
          display: block;
          margin: 0 auto;
          width: auto;
        }
      }

      &-icon {
        justify-self: center;

        & i {

          @include respond(phone) {
            font-size: 1rem;
          }
        }

        @include respond(phone) {
          justify-self: left;
        }
      }
    }
  }
}
