.message {

  margin: 3rem;
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  &-section {
    grid-column: center-start / center-end;
  }

  &__greeting {
    display: block;
    margin-bottom: 1rem;
  }

  &__body {

    margin-bottom: 1rem;

    &--link {
      text-decoration: none;
      color: $color-grey-dark-2;
    }

    &--license {
      display: block;
      margin: 1rem 0;
    }
  }

  &__footer {


    &--name {
      display: block;
    }
  }
}
