
.box {
  width: 30%;
  position: relative;
  margin-bottom: 2rem;
  opacity: 0;
  // visibility: hidden;
  transition: opacity .5s ease-in-out;

  font-family: 'lato', sans-serif;

  &-sizer {
    width: 30%;
  }

  &-gutter {
    width: 2rem;
  }

  &-container {
    width: 100%;
  }

  &__image {
    width: 100%;
    border-radius: 4px;
    background-color: rgba($color: #000000, $alpha: 1);
    transition: filter .2s ease-in-out;

  }

  &__author {

    display: flex;
    align-items: center;
    position: absolute;
    top: 80%;
    left: 5%;
    z-index: 5;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    & > * {
      display: inline-block;
    }

    &--image {
      height: 3.2rem;
      width: 3.2rem;
      border-radius: 50%;
      overflow: hidden;
      shape-outside: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);

      & img {
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        object-position: center;
      }
    }

    &--details {
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      // font-weight: 300;
    }

    &--name {
      color: #fff;
    }

    &--username {
      font-size: 1.4rem;

      & a {
        text-decoration: none;
        color: #ccc;
        transition: color .2s ease-in-out;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  &__likes {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 5;
    display: flex;
    padding: .5rem;
    border-radius: 4px;
    opacity: 0;
    transition: opacity .2s ease-in-out;

    & > * {
      margin: .1rem .5rem;
    }

    &--icon {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      transition: -webkit-text-stroke-color .2s ease-in-out;

      &:hover {
        -webkit-text-fill-color: rgba(#ff8a8a, 1);
        -webkit-text-stroke-color: rgba($color: #ff8a8a, $alpha: .9);
      }

      &-liked {
        -webkit-text-fill-color: #f00;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #f00;
      }
    }

  }

  &:hover &__author {
    opacity: 1;
  }

  &:hover &__image {
    filter: brightness(40%);
  }

  &:hover &__likes {
    opacity: 1;
  }
}
