@import '~@angular/material/theming';
@import './../abstracts/mixins';


// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$imageus-primary: mat-palette($mat-cyan, 700, 100, 900);
$imageus-accent:  mat-palette($mat-teal, 500, 200, 700);

// The warn palette is optional (defaults to red).
$imageus-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$imageus-theme: mat-light-theme($imageus-primary, $imageus-accent, $imageus-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($imageus-theme);
// @include theme_components($imageus-theme);

// Dark Theme
$imageus-dark-primary: mat-palette($mat-pink, 500, 200, 700);
$imageus-dark-accent:  mat-palette($mat-blue-grey, 200, 100, 400);
$imageus-dark-theme: mat-dark-theme($imageus-dark-primary, $imageus-dark-accent);

.dark-theme {
  @include angular-material-theme($imageus-dark-theme);
  // @include theme_components($imageus-dark-theme);
}
