.header {
  margin-top: 2rem;
  grid-column: center-start / center-end;
  display: flex;
  align-items: center;

  @include respond(big-phone) {
    display: grid !important;
    grid-template-columns: minmax(0, 1fr) !important;
    justify-items: center !important;
    align-items: center !important;

    &__text-box .heading-primary > * {
      text-align: center !important;
    }
  }

  &__logo {
    height: 13.5rem;
  }
}

